<div class="card flex flex-col content-center gap-3 p-8">
	@if (!isLoading()) {
		<main class="card__main flex flex-col items-center gap-2 pb-8">
			<div class="card__main__container-image">
				<img [src]="spriteUrl()" [alt]="`image ${name()}`" />
			</div>

			<span>Nº {{ identifierNumber() }}</span>

			<h2>{{ name() }}</h2>

			<div class="card__container-tags flex justify-center gap-2">
				@for (tag of tags(); track $index) {
					<app-tag
						[label]="tag.label"
						[color]="tag.color"
						[options]="{ upperCase: true }" />
				}
			</div>
		</main>
	} @else {
		<main class="card__main loading flex flex-col items-center gap-2 pb-8">
			<div class="card__main__container-image">
				<p-skeleton
					class="card__main__container-image__img-skeleton"
					width="4rem"
					height="3rem" />
			</div>

			<p-skeleton width="4rem" height="1rem" />

			<p-skeleton width="6rem" height="1rem" />

			<div class="card__container-tags flex justify-center gap-2">
				<p-skeleton width="4rem" height="2rem" />
				<p-skeleton width="4rem" height="2rem" />
			</div>
		</main>
	}
</div>
